<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yelpcamp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/icon.png" width="30" height="30" alt="" class="d-inline-block align-top">
                Yelpcamp
            </a>
        </div>
    </nav>

    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to Yelpcamp</h1>
        <p class="lead">View our hand-picked campgrounds from all over the world!</p>
        <a class="btn btn-primary btn-lg" href="/campgrounds">View All</a>
        <a class="btn btn-warning btn-lg" href="/campgrounds/new">Add New</a>
    </div>

    <div class="container">

    