<%- include('partials/header')  %> 

<h1 class="text-center mb-5">Camprounds</h1>

<div class="container">
    <div class="row">
        <% campgrounds.forEach((campground) => { %>

            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card">
                    <img src="<%= campground.image %>" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title"><%= campground.name %></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

        <% }); %> 
    </div>
</div>

<%- include('partials/footer') %> 