<%- include('partials/header')  %> 

<h1 class="text-center mb-4">New Campground</h1>

<form class="form-inline justify-content-center" action="/campgrounds" method="POST">
    <input class="form-control mx-2 my-2" type="text" name="name" placeholder="Name">
    <input class="form-control mx-2 my-2" type="text" name="image" placeholder="Image URL">
    <button class="btn btn-primary" type="submit">Submit</button>
</form>

<%- include('partials/footer')  %> 